/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {
    .numberbox .number {
        margin-left: 10%;
        /*margin-left: ;*/
    }
    .bg-tools {
        display: none;
    }
    .blacksquare-honor h2 {
        margin-top: 71px;
    }
    .pencils::before {
        display: none;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .block {
        margin-bottom: 30px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    .block a {
        font-size: 22px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    header {
        width: 100%;
    }
    .container-header-whitesquare {
        display: none;
    }
    .whitesquare {
        border: none;
        width: 100%;
        text-align: center;
    }
    .numberbox {
        width: 100%;
    }
    .numberbox .number {
        font-size: 28vh;
        margin-top: 10vh;
        text-align: center;
        margin: 0 auto;
    }
    .purpura {
        width: 100%;
    }
    .purpura-blocktop h2 {
        /*font-size: 50px;*/
    }
    .whitesquare p {
        font-size: 12px;
        width: 90vw;
    }
    .bg-tools {
        display: none;
    }
    .purpura-blocksecret {
        text-align: center;
    }
    .secret-left {
        width: 100%;
    }
    .secret-right {
        width: 100%;
    }
    .building-content {}
    .unity {
        font-size: 50px;
        line-height: 32px;
        top: 80px;
        z-index: 1;
    }
    .building {
        width: 100%;
    }
    /*.love {
        font-size: 25px;
        line-height: 20px;
        z-index: 2;
        width: 90vw;
        left: 2%
    }
    .world {
        font-size: 20px;
        line-height: 30px;
        z-index: 2;
        left: 0;
        width: 90vw;
    }*/
    .blacksquare {
        display: none;
    }
    .blacksquare-honor {
        border: none;
        height: 25vh;
        text-align: center;
        width: 100%;
    }
    .pencils {
        display: none;
    }
    .numberbox02 {
        width: 100%;
        margin-top: 10vh;
        margin-left: 0;
    }
    .numberbox02 .number {
        font-size: 28vh;
        text-align: center;
    }
    .whatwedo {
        width: 100%;
    }
    .whatwedosquare {
        border: none;
        width: 100%;
        height: 40vh;
    }
    #home-slider {}
    .images {
        width: 100%;
        height: 40vh;
    }
    .numberbox03 {
        width: 100%;
    }
    .whatwedo .number {
        font-size: 28vh;
        margin-top: 10vh;
        text-align: center;
    }
    .service {
        width: 100%;
        text-align: center;
    }
    .service span {
        font-size: 25px;
        line-height: 100px;
        text-transform: uppercase;
        padding: 10px 0;
        letter-spacing: -2px;
    }
    .service img {
        display: block;
        margin: 0 auto;
    }
    .winter-title p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        margin-top: 20vh;
    }
    .teamblock {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .block p {
        min-height: 155px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .block p {
        font-size: 16px;
    }
}